* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}



.main {
    display: flex;
    height: 100vh;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kiri {
    width: 40%;
}

.kiri .foto {
    height: 40vh;
    width: 100%;
    min-height: 200px;
    min-width: 200px;

}

.kiri .foto img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-width: 200px;
}

.main .bawah-kiri {
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    background-color: whitesmoke;
    height: 60vh;
    margin-top: 0;
}

.main .bawah-kiri h1 {
    padding-top: 50px;
    padding-left: 47px;
    font-size: 48px;
    font-weight: bold;
}

.main .bawah-kiri h2 {
    padding-left: 50px;
    font-weight: bold;
}

.main .bawah-kiri h3{
    padding-left: 50px;
    font-weight: normal;
    margin-top: 20px;
    font-size: 16px;
}

.bawah-kiri .button {   
    margin-top: 200px;
    padding-left: 50px;   
}


button {
  padding: 15px 15px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: #b4d7ff(261deg 80% 48%);
  color:#b4d7ff(0, 0%, 100%);
  box-shadow: #b4d7ff 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: #b4d7ff(261deg 80% 48%);
  color: #b4d7ff(0, 0%, 100%);
  box-shadow: #b4d7ff 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.main .bawah-kiri .button button{
    padding: 15px;
    width: 200px;
    border: 5px;
    background-color: black;
    color: whitesmoke;
}
.kanan {
    flex: 1;
    flex-direction: row;
    background-color: #b4d7ff;
}

.kanan h1 {
    padding-left: 60px;
    margin-top: 120px;
    font-weight: normal;
    font-size: 38px;

}

.kanan .button2 {
    padding-left: 60px;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-end;
}

.kanan .button2 button {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
    border: 5px;
    background-color: black;
    color: black;
    background-color: transparent;
    border: solid 1px;
    font-weight: bold;
    font-size: 16px;

}

hr {
  border: none;
  border-top: 2px solid #000;
  width: 600px;     
  margin: 60px;
  font-weight: normal;
}

p {
    padding-left: 60px;
    text-align: justify;
    padding-right: 10px;
    line-height: 25px;
}

.button button:hover {
    transform: scale(1.08);
    transition: transform 0.2s ease;
}

.kanan .button2 button:hover {
    transform: scale(1.08); 
    transition: transform 0.2s ease;
}

.kanan .name {
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
}



/* if screen phone or tablet */
@media (max-width: 800px) {
    .main {
        flex-direction: column;
    }
    
    .kiri {
        width: 100%;
    }

    .kiri .foto {
        height: 40vh;
    }

    .kanan h1 {
        padding-left: 30px;
        margin-top: 30px;
    }
    
    hr {    
        margin: 30px;
        width: 300px;
    }
    
    p {
        padding-left: 30px;
        text-align: justify;
        padding-right: 10px;
    }

    .kanan .button2 {
        padding-left: 30px;
        padding-top: 8px;
        padding-bottom: 9px;
        flex-direction: column;
        align-items: flex-start;
        height: 150px;
        margin-top: 20px;
    }

    .main .bawah-kiri h1 {
        padding-left: 26px;

    }

    .main .bawah-kiri h2 {
        padding-left: 29px;
    }

    .main .bawah-kiri h3 {
        padding-left: 30px;
    }

    .bawah-kiri .button {
        padding-left: 30px;
        margin-top: 150px;
    }

}