* {
    margin: 0;
    padding: 0;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.animasi {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    padding: 0;

}

.maintenance {
    margin-top: -100px;
}

h1{
    text-align: center;
    margin-bottom: 8px;
}

h3 {
    text-align: center;
    font-weight: normal;
    
}

.footer {
    margin-top: 200px;
    text-align: center;
    

}
